<div>
    <h1>PAGO PENDIENTE</h1>
    <h2>Datos del pago:</h2>
    <p>{{external_reference}}</p>
    <p>{{collection_id}}</p>
    <a href="/">volver al home</a>
</div>
<script src="https://www.mercadopago.com/v2/security.js" view=""></script>